<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seguro Spring</title>
    <style>
        table{border-collapse: collapse;width: 100%}
        th,td{ padding: 8px;text-alig:left;border-bottom: 1px solid gray;}
        tr:hover{background-color: brown}
    </style>
</head>
<body>

<header>Clientes</header>
<div class= "centered">
    <table style="border: 1px solid blue">
        <tr> <th>ID</th> <th>Nombre</th> <th>...</th> </tr>

        <tr th:each="c:${clientes}">
            <td th:text="${c.getIdentificacion()}"/>
            <td th:text="${c.getNombre()}"/>

            <td>
                <a th:href="@{/personas/polizas/show(identificacion=${c.getIdentificacion()})}">... </a>
            </td>
        </tr>
    </table>
</div>

<footer> MY Compony</footer>

</body>
</html>
